* {
    color: rgb(90, 90, 90);
}

body {
    background-color: rgb(215, 255, 245);
    color: rgba(56, 56, 56, 1);
    margin-left: 2.5em;
}

/* The nav-bar styling */
.nav-bar {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: rgb(0, 26, 255);
    border-width: 0.05cm; 
    border-radius: 1vh; 
    padding-left: 1vw; 
    align-items: center;
}

.nav-bar h4 {
    margin-right: 20px;
}

/* The meeting information at the top */

.title-header {
    margin: 30pt 0 30pt 0;
    border: 1px solid rgb(34, 34, 141);
    border-radius: 10pt;
    padding-left: 20px;
}

#meeting-title {
    color:rgb(43, 14, 206);
    margin-bottom: 7mm;
}

#meeting-type {
   color: #1044d1; 
   margin-top: -10px;
}

#meeting-date {
    color: hsl(220, 100%, 60%);
    margin-top: -10px
}

/* The styling for the attendance list */
#attendees-list {
    padding: 10px 0 10px 0;
}

.attendees-title {
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(32, 99, 201);
}

#attendees-list li {
    color: rgb(139, 22, 194);
}
